.petForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;

    padding: 5vw;

    border: 1 solid;
    border-radius: 12px;

    background-color: #e4e4e4;

    font-family: 'Roboto', sans-serif;
    color: #434343;
}


.petForm label{
   
     padding: 1vw 0;
     margin-top: 2vh;
     font-weight: bold;
     display: flex;
     flex: 1;

}

.petForm input{
    display: flex;
    height:30px;

    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
   
}

.petForm input[type=submit]{
    display: flex;
    
    background: #858BF2;

    font-size: 20px;
    color: #FEFEFE;
    font-weight: bold;

    justify-content: center;


    margin: 5vh 5vw 0 5vw;
    max-width: 50vw;
    height: 40px;
}


